<div class="main layout-row flex layout-fill">
  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="sidenav"
    position="left"
    open=sideNavOpen
    lockedOpen=false
    onToggle=(action (mut sideNavOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#toolbar.tools}}
        <div class="layout-column flex">
          <span class="md-subhead">Ricardo Beas</span>
          <span class="md-caption">{{email}}</span>
        </div>
        {{#paper-button iconButton=true onClick=(action 'copyEmail' email)}}
          {{svg-icon "copy" size=14}}
        {{/paper-button}}
        <span class="logo small"></span>
      {{/toolbar.tools}}
    {{/paper-toolbar}}
    {{#paper-content}}
      {{#paper-list}}
        {{#each links as |link index|}}
          {{#paper-item href=(href-to link.link) class=(concat "md-2-line" (if (eq selectedRoute index) " md-active"))}}
            {{svg-icon link.icon class="md-avatar-icon"}}
            <div class="md-list-item-text">
              <h3>{{link.title}}</h3>
            </div>
          {{/paper-item}}
          {{paper-divider}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}
  <div class="layout-column flex">
    <div class="layout-row flex-none header-container">
      <div class="layout-row flex layout-align-start-start">
        <div class="layout-row flex layout-padding layout-align-start-center">
          {{#paper-button iconButton=true class="contrast layout-padding-none" onClick=(action (toggle 'sideNavOpen' this))}}
            {{paper-icon "menu" size=30}}
          {{/paper-button}}
          <span class="logo no-border"></span>
          <span class="flex-55"></span>
          {{#paper-button raised=true round=true class="link-buttons flex-none" href="https://github.com/sl249"}}
            {{svg-icon "github" size=20}}
            <span class="layout-margin">Github</span>
          {{/paper-button}}
          {{#paper-button raised=true round=true class="link-buttons flex-none" href="https://www.linkedin.com/in/ricardobeas/"}}
            {{svg-icon "linkedin" size=20}}
            <span class="layout-margin">LinkedIn</span>
          {{/paper-button}}
        </div>
      </div>
      <div class="layout-column headshot-text layout-align-end-start">
        <span>Designer</span>
        <span>Developer</span>
        <span>Perfectionist</span>
      </div>
      <div class="headshot md-whiteframe-3dp">
        <img src="rbeas-portfolio/headshot-2.jpg" alt="Picture of Ricardo Beas">
      </div>
      <div class="header">
        <div class="pattern">
        </div>
      </div>
    </div>
    {{outlet}}
  </div>
</div>
<div class="layout-column flex layout-align-center-center icon-text mobile-message">
  <div class="icon-container">
    {{paper-icon "phone_android" size=40 class="layout-margin-none"}}
  </div>
  <h2 class="md-title layout-margin">Mobile Coming Soon!</h2>
</div>
{{#paper-button download="Ricardo A. Beas Medina Resume.docx" href="rbeas-portfolio/Ricardo A. Beas Medina Resume.docx" raised=true primary=true round=true class="resume-download"}}
  <div class="layout-row layout-align-start-center">
    {{paper-icon "file_download" class="layout-margin"}}
    <div class="layout-column layout-align-start-start">
      <span class="md-body-1">Download</span>
      <span class="md-body-1">Resume</span>
    </div>
  </div>
{{/paper-button}}
